[FORMAT]
max-line-length=120

# Maximum number of lines in a module
max-module-lines=1000

[BASIC]

# Good variable names which should always be accepted, separated by a comma
good-names=i,j,k,df

# Bad variable names which should always be refused, separated by a comma
bad-names=foo,bar,baz,toto,tutu,tata,var

# Minimum line length for functions/classes that require docstrings, shorter
# ones are exempt.
docstring-min-length=10

[VARIABLES]

# List of additional names supposed to be defined in builtins. Remember that
# you should avoid to define new builtins when possible.
additional-builtins=display,dbutils,spark
